<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zgg.toolkit.system.mapper.AccountMapper">

    <resultMap id="userPermission" type="zgg.toolkit.system.model.vo.LoginInfo">
        <id column="userId" property="userId" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result column="username" property="username" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="tel" property="tel" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <collection property="modules" column="userId" select="getLoginUserModules" ofType="map"/>
        <collection property="permissions" column="userId" select="getLoginUserPermissions" ofType="string"/>
    </resultMap>

    <select id="getLoginUserInfo" resultMap="userPermission">
        SELECT
            a.id AS userId,
            a.username,
            a.tel,
            a.avatar
        FROM sys_user a
        WHERE a.id = #{userId}
    </select>
    <select id="getLoginUserModules" resultType="map">
        SELECT
            e.module_name,
            e.modele_code
        FROM sys_user_role b
            LEFT JOIN sys_role c ON b.role_id = c.id
            LEFT JOIN sys_role_permission d ON c.id = d.per_id
            LEFT JOIN sys_permission e ON d.per_id = e.id
    </select>
</mapper>